<wtsSearchFilters class="main-search" ng-controller="AccordionCtrl">
	<div class="row search-box">
		<div></div>
		<uib-accordion class="col-md-4 col-sm-4" close-others="oneAtATime">
			<uib-accordion-group heading="Pictures" is-open="true">
				<label><input type="checkbox" id="pictures-checkbox" checked="checked">Only with pictures</label>
			</uib-accordion-group>	<!-- end of pictures -->
			<uib-accordion-group class="input-group" heading="With ingredients">
				<input type="text" class="form-control" id="included-ingredients" placeholder="ingredients separated by space" aria-describedby="basic-addon1">
			</uib-accordion-group><!-- end of with ingredients -->
			<uib-accordion-group class="input-group" heading="Without ingredients">
				<input type="text" class="form-control" id="excluded-ingredients" placeholder="ingredients separated by space" aria-describedby="basic-addon1">
			</uib-accordion-group><!-- end of without ingredients -->
			<uib-accordion-group class="filters" id="allergies" heading="Allergies">

				<div class="checkbox-allergies" id="dairy">
					<label><input type="checkbox" class="allergies" value="396^Dairy-Free"> Dairy</label>
				</div>
				<div class="checkbox-allergies" id="egg">
					<label><input type="checkbox" class="allergies" value="397^Egg-Free"> Egg</label>
				</div>
				<div class="checkbox-allergies" id="gluten">
					<label><input type="checkbox" class="allergies" value="393^Gluten-Free"> Gluten</label>
				</div>
				<div class="checkbox-allergies" id="peanut">
					<label><input type="checkbox" class="allergies" value="394^Peanut-Free"> Peanut</label>
				</div>
				<div class="checkbox-allergies" id="seafood">
					<label><input type="checkbox" class="allergies" value="398^Seafood-Free"> Seafood</label>
				</div>
				<div class="checkbox-allergies" id="sesame">
					<label><input type="checkbox" class="allergies" value="399^Sesame-Free"> Sesame</label>
				</div>
				<div class="checkbox-allergies" id="soy">
					<label><input type="checkbox" class="allergies" value="400^Soy-Free"> Soy</label>
				</div>			
				<div class="checkbox-allergies" id="sulfite">
					<label><input type="checkbox" class="allergies" value="401^Sulfite-Free"> Sulfite</label>
				</div>			
				<div class="checkbox-allergies" id="tree-nut">
					<label><input type="checkbox" class="allergies" value="395^Tree Nut-Free"> Tree Nut</label>
				</div>			
				<div class="checkbox-allergies" id="wheat">
					<label><input type="checkbox" class="allergies" value="392^Wheat-Free"> Wheat</label>				
				</div>
			</uib-accordion-group> <!-- end of allergies -->
<!-- 			<uib-accordion-group id="cooking-time" heading="Cooking time" >
			<form name="myForm" ng-controller="ExampleController"> 				
					<div class="radio-time" id="dairy">
						<label><input type="radio" class="time" value="396^Dairy-Free"> &lt;5minutes</label>
					</div>
					<div class="radio-time" id="dairy">
						<label><input type="radio" class="time" value="396^Dairy-Free"> &lt;10minutes</label>
					</div>
					<div class="radio-time" id="dairy">
						<label><input type="radio" class="time" value="396^Dairy-Free"> &lt;15minutes</label>
					</div>
					<div class="radio-time" id="dairy">
						<label><input type="radio" class="time" value="396^Dairy-Free"> &lt;20minutes</label>
					</div>					
					<div class="radio-time" id="dairy">
						<label><input type="radio" class="time" value="396^Dairy-Free"> &lt;25minutes</label>
					</div>					
					<div class="radio-time" id="dairy">
						<label><input type="radio" class="time" value="396^Dairy-Free"> &lt;30minutes</label>
					</div>					
					<div class="radio-time" id="dairy">
						<label><input type="radio" class="time" value="396^Dairy-Free"> &lt;45minutes</label>
					</div>					
					<div class="radio-time" id="dairy">
						<label><input type="radio" class="time" value="396^Dairy-Free"> &lt;1hour</label>
					</div>				
					<div class="radio-time" id="dairy">
						<label><input type="radio" class="time" value="396^Dairy-Free"> &lt;1.5hours</label>
					</div>				
					<div class="radio-time" id="dairy">
						<label><input type="radio" class="time" value="396^Dairy-Free"> &lt;2hours</label>
					</div>				
					<div class="radio-time" id="dairy">
						<label><input type="radio" class="time" value="396^Dairy-Free"> &lt;4hours</label>
					</div>				
					<div class="radio-time" id="dairy">
						<label><input type="radio" class="time" value="396^Dairy-Free"> &lt;8hours</label>
					</div>				
					<div class="radio-time" id="dairy">
						<label><input type="radio" class="time" value="396^Dairy-Free"> &lt;12hours</label>
					</div>				
					<div class="radio-time" id="dairy">
						<label><input type="radio" class="time" value="396^Dairy-Free"> Any time</label>
					</div>	
				</form>	 -->
				<!-- 			</uib-accordion-group>	end of cooking time -->
				<uib-accordion-group class="filters" id="diets" heading="Diets">
					<div class="checkbox-diets" id="lacto-vegetarian">
						<label><input type="checkbox" class="diets" value="388^Lacto vegetarian"> Lacto vegetarian</label>
					</div>
					<div class="checkbox-alergies" id="ovo-vegetarian">
						<label><input type="checkbox" class="diets" value="389^Ovo vegetarian"> Ovo vegetarian</label>
					</div>
					<div class="checkbox-alergies" id="pescetarian">
						<label><input type="checkbox" class="diets" value="390^Pescetarian"> Pescetarian</label>
					</div>
					<div class="checkbox-alergies" id="vegan">
						<label><input type="checkbox" class="diets" value="386^Vegan"> Vegan</label>
					</div>
					<div class="checkbox-alergies" id="vegetarian">
						<label><input type="checkbox" class="diets" value="387^Lacto-ovo vegetarian"> Vegetarian</label>
					</div>
				</uib-accordion-group><!-- end of diets -->
				<uib-accordion-group class="filters" id="included-cuisines" heading="Include cuisines">
					<div class="checkbox-cuisines" id="american">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-american"> American</label>
					</div>
					<div class="checkbox-cuisines" id="italian">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-italian"> Italian</label>
					</div>
					<div class="checkbox-cuisines" id="asian">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-asian"> Asian</label>
					</div>
					<div class="checkbox-cuisines" id="mexican">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-mexican"> Mexican</label>
					</div>
					<div class="checkbox-cuisines" id="southern-soul">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-southern-soul"> Southern &amp; Soul Food</label>
					</div>
					<div class="checkbox-cuisines" id="french">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-french"> French</label>
					</div>
					<div class="checkbox-cuisines" id="southwestern">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-southwestern"> Southwestern</label>
					</div>			
					<div class="checkbox-cuisines" id="barbecue">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-barbecue"> Barbecue</label>
					</div>			
					<div class="checkbox-cuisines" id="indian">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-indian"> Indian</label>
					</div>			
					<div class="checkbox-cuisines" id="chinese">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-chinese"> Chinese</label>				
					</div>
					<div class="checkbox-cuisines" id="cajun-creole">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-cajun-creole"> Cajun &amp; Creole</label>				
					</div>
					<div class="checkbox-cuisines" id="english">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-english"> English</label>				
					</div>
					<div class="checkbox-cuisines" id="mediterranean">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-mediterranean"> Mediterranean</label>				
					</div>
					<div class="checkbox-cuisines" id="greek">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-greek"> Greek</label>				
					</div>
					<div class="checkbox-cuisines" id="spanish">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-spanish"> Spanish</label>				
					</div>
					<div class="checkbox-cuisines" id="german">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-german"> German</label>				
					</div>				
					<div class="checkbox-cuisines" id="thai">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-thai"> Thai</label>				
					</div>				
					<div class="checkbox-cuisines" id="moroccan">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-moroccan"> Moroccan</label>	
					</div>
					<div class="checkbox-cuisines" id="irish">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-irish"> Irish</label>	
					</div>
					<div class="checkbox-cuisines" id="japanese">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-japanese"> Japanese</label>	
					</div>
					<div class="checkbox-cuisines" id="cuban">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-cuban"> Cuban</label>	
					</div>
					<div class="checkbox-cuisines" id="hawaiin">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-hawaiin"> Hawaiin</label>	
					</div>
					<div class="checkbox-cuisines" id="swedish">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-swedish"> Swedish</label>	
					</div>
					<div class="checkbox-cuisines" id="hungarian">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-hungarian"> Hungarian</label>	
					</div>
					<div class="checkbox-cuisines" id="portugese">
						<label><input type="checkbox" class="included-cuisines" value="cuisine^cuisine-portugese"> Portugese</label>	
					</div>
				</uib-accordion-group> <!-- end of included-cuisines -->
				<uib-accordion-group class="filters" id="excluded-cuisines" heading="Exclude cuisines">
					<div class="checkbox-cuisines" id="american">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-american"> American</label>
					</div>
					<div class="checkbox-cuisines" id="italian">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-italian"> Italian</label>
					</div>
					<div class="checkbox-cuisines" id="asian">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-asian"> Asian</label>
					</div>
					<div class="checkbox-cuisines" id="mexican">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-mexican"> Mexican</label>
					</div>
					<div class="checkbox-cuisines" id="southern-soul">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-southern-soul"> Southern &amp; Soul Food</label>
					</div>
					<div class="checkbox-cuisines" id="french">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-french"> French</label>
					</div>
					<div class="checkbox-cuisines" id="southwestern">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-southwestern"> Southwestern</label>
					</div>			
					<div class="checkbox-cuisines" id="barbecue">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-barbecue"> Barbecue</label>
					</div>			
					<div class="checkbox-cuisines" id="indian">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-indian"> Indian</label>
					</div>			
					<div class="checkbox-cuisines" id="chinese">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-chinese"> Chinese</label>				
					</div>
					<div class="checkbox-cuisines" id="cajun-creole">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-cajun-creole"> Cajun &amp; Creole</label>				
					</div>
					<div class="checkbox-cuisines" id="english">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-english"> English</label>				
					</div>
					<div class="checkbox-cuisines" id="mediterranean">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-mediterranean"> Mediterranean</label>				
					</div>
					<div class="checkbox-cuisines" id="greek">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-greek"> Greek</label>				
					</div>
					<div class="checkbox-cuisines" id="spanish">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-spanish"> Spanish</label>				
					</div>
					<div class="checkbox-cuisines" id="german">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-german"> German</label>				
					</div>				
					<div class="checkbox-cuisines" id="thai">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-thai"> Thai</label>				
					</div>				
					<div class="checkbox-cuisines" id="moroccan">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-moroccan"> Moroccan</label>	
					</div>
					<div class="checkbox-cuisines" id="irish">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-irish"> Irish</label>	
					</div>
					<div class="checkbox-cuisines" id="japanese">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-japanese"> Japanese</label>	
					</div>
					<div class="checkbox-cuisines" id="cuban">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-cuban"> Cuban</label>	
					</div>
					<div class="checkbox-cuisines" id="hawaiin">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-hawaiin"> Hawaiin</label>	
					</div>
					<div class="checkbox-cuisines" id="swedish">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-swedish"> Swedish</label>	
					</div>
					<div class="checkbox-cuisines" id="hungarian">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-hungarian"> Hungarian</label>	
					</div>
					<div class="checkbox-cuisines" id="portugese">
						<label><input type="checkbox" class="excluded-cuisines" value="cuisine^cuisine-portugese"> Portugese</label>	
					</div>
				</uib-accordion-group> <!-- end of excluded-cuisines -->
			</uib-accordion><!-- end filters-->
			<div class="col-md-8 col-sm-8">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search for a recipe" id="searchRecipe">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" id="searchButton">Go!</button>
					</span>
				</div><!-- /input-group -->
				<div id="searchResults">

					
				</div>
			</div><!-- end col-md-8 search box-->
		</div>
		<script type="text/javascript">
			var searchQuery;
			var searchEndpoint = "http://api.yummly.com/v1/api/recipes?&q="
			var recipes = [];
			$("#searchButton").on("click", function(e){
				e.preventDefault();
				searchText = encodeURI($("#searchRecipe").val());
				search();
				console.log("search button ok");
				console.log(searchText);
			/*	search();
			$("#searchRecipe").val("");*/
			});

			function searchOnEnter(e){
				e = e || window.event;
				if (e.keyCode == 13)
				{
					searchText = encodeURI($("#searchRecipe").val());
					search();
					return false;
				}
				return true;
			}

			function ajaxRequest(url, func1, func2){
				$.ajax({
					url: url, 
					dataType:"json",
					headers: {
						"X-Yummly-App-ID": "4f8d5f5a",
						"X-Yummly-App-Key": "15ca836c85d71216be87d521578d34d8",				
					},
					beforeSend:func1,
				}).done(func2)
				.fail(failFunction);
			}

			function search(){
				searchQuery = searchEndpoint + searchText;
				var searchLog = function(){
					console.log("searching recipe");
				};
				if (searchText != "") {
					withPictures();
					includeIngredients();
					excludeIngredients();
					allergies();
					diets();
					includedCuisines();
					excludedCuisines();
					console.log(searchQuery);
					ajaxRequest(searchQuery, searchLog, successFunction);
				} else {
					alert ("We are searching random recipes since you didn't entered any recipe name");
				}
			}

			function failFunction(request, textStatus, errorThrown) {
				alert("An error occurred during your request: " + request.status + " " + textStatus + " " + errorThrown);
			}

			function successFunction(data){
				for (var i=0; i<data.matches.length; i++) {
					recipes.push(data.matches[i]);
				}
				appendRecipesList(recipes);
			}

			function appendRecipesList(recipes){
				for (var j=0; j<recipes.length; j++){
					var ingredients = recipes[j].ingredients;
					var cookingTime = recipes[j].totalTimeInSeconds;
					cookingTime = timeToMinutesHours(cookingTime)
					var recipeCard = '<div class="recipe" id="' + recipes[j].id + '"><h4 class="name">' + recipes[j].recipeName + '</h4><img src="' + recipes[j].smallImageUrls[0] + '"><h6 class="recipeIngredients">Ingredients:</h6><ul class="ingredientsList"></ul><p><span> Time: ' + cookingTime + '.</span><span> Course: ' + recipes[j].attributes.course + '.</span><span> Rating: ' + recipes[j].rating + ' </span></p> <a class="btn btn-info" href="/recipe" role="button">More info</a> </div>';
					$('#searchResults').append(recipeCard);
				}
				for (var k=0; k<ingredients.length; k++) {
					var ingredient = ingredients[k].charAt(0).toUpperCase() + ingredients[k].slice(1);
					var ingredientLi = '<li>' + ingredient + '</li>';
					$('ul.ingredientsList').append(ingredientLi);
				}
			}

			function timeToMinutesHours(timeInSeconds){
				var time = Math.floor(timeInSeconds / 60);
				if (time >= 60) {
					time = time / 60;
					if(time = 1) {
						return time + ' hour'
					} else {
						return time + ' hours';
					}
				} else {
					return time + ' minutes';
				}
			}

			function withPictures(){
				if ($('#pictures') != undefined) {
					searchQuery = searchQuery + '&requirePictures=true';
					console.log('searching only with pictures');
				} else {
					console.log('searching with or without pictures');
				}

			}

			function includeIngredients(){
				if ($('#included-ingredients').val() != ""){
			  	// split by spaces  $("#searchquery").text().split(/ +/);
			  	var ingredientsToInclude = $('#included-ingredients').val();
			  	ingredientsToInclude = ingredientsToInclude.split(" ");
			  	for (var i = 0; i<ingredientsToInclude.length; i++){
			  		var addedIngredient = encodeURI(ingredientsToInclude[i]);
			  		searchQuery = searchQuery + "&allowedIngredient[]=" + addedIngredient;
			  	}
			  }
			  console.log('searching with the following ingredients' + ingredientsToInclude);
			}

			function excludeIngredients(){
				if ($('#excluded-ingredients').val() != ""){
					var ingredientsToExclude = $('#excluded-ingredients').val();
					ingredientsToExclude = ingredientsToExclude.split(" ");
					for (var i = 0; i<ingredientsToExclude.length; i++){
						var excludedIngredient = encodeURI(ingredientsToExclude[i]);
						searchQuery = searchQuery + "&excludedIngredient[]=" + excludedIngredient;
					}
				}
				console.log('searching without the following ingredients' + ingredientsToExclude);
			}

			function allergies() {
				var allergies = [];
				$('.allergies:checkbox:checked').each(function() {
					allergies.push($(this).val());
				});
				if (allergies != []) {
					for (var i = 0; i<allergies.length; i++){
						var allergy = allergies[i];
						searchQuery = searchQuery + "&allowedAllergy[]=" + allergy;
					}
				}
				console.log('searching for the following allergies' + allergies);
			}

			/*function cookingTime(){

			}*/

			function diets(){
				var diets =[];
				$('.diets:checkbox:checked').each(function() {
					diets.push($(this).val());
				});
				if (diets != []) {
					for (var i = 0; i<diets.length; i++){
						var diet = diets[i];
						searchQuery = searchQuery + "&allowedAllergy[]=" + diet;
					}
				}	
				console.log('searching for the following diets' + diets);
			}

			function includedCuisines(){
				var includedCuisines =[];
				$('.included-cuisines:checkbox:checked').each(function() {
					includedCuisines.push($(this).val());
				});
				if (includedCuisines != []) {
					for (var i = 0; i<includedCuisines.length; i++){
						var includedCuisine = includedCuisines[i];
						searchQuery = searchQuery + "&allowedCuisine[]=" + includedCuisine;
					}
				}	
				console.log('searching with the following cuisines' + includedCuisines);
			}

			function excludedCuisines(){
				var excludedCuisines =[];
				$('.excluded-cuisines:checkbox:checked').each(function() {
					excludedCuisines.push($(this).val());
				});
				if (excludedCuisines != []) {
					for (var i = 0; i<excludedCuisines.length; i++){
						var excludedCuisine = excludedCuisines[i];
						searchQuery = searchQuery + "&excludedCuisine[]=" + excludedCuisine;
					}
				}	
				console.log('searching without the following cuisines' + excludedCuisines);
			}

		</script>
	</wtsSearchFilters>
