<div class="main-search">
	<div class="row search-box">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search for...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">Go!</button>
				</span>
			</div><!-- /input-group -->
		</div><!-- /.col-lg-6 -->
		<div class="col-md-2"></div>
	</div>
	<div class="row filters-box">
		<div class="col-md-3">
			<div class="checkbox-pictures" id="pictures">
				<label><input type="checkbox" value="pictures">Only with pictures</label>
			</div>	
		</div>
		<div class="col-md-3">
			<div class="input-group" id="included-ingredients">
				<h6>With ingredients</h6>
				<input type="text" class="form-control" placeholder="Ingredients to include" aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="col-md-3">
			<div class="input-group" id="excluded-ingredients">
				<h6>Without ingredients</h6>
				<input type="text" class="form-control" placeholder="Ingredients to exclude" aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="col-md-3">
			<h6>Acceptable for allergies:</h6>
			<div class="checkbox-alergies" id="dairy">
				<label><input type="checkbox" value="dairy"> Dairy</label>
			</div>
			<div class="checkbox-alergies" id="egg">
				<label><input type="checkbox" value="egg"> Egg</label>
			</div>
			<div class="checkbox-alergies" id="gluten">
				<label><input type="checkbox" value="gluten"> Gluten</label>
			</div>
			<div class="checkbox-alergies" id="peanut">
				<label><input type="checkbox" value="peanut"> Peanut</label>
			</div>
			<div class="checkbox-alergies" id="seafood">
				<label><input type="checkbox" value="seafood"> Seafood</label>
			</div>
			<div class="checkbox-alergies" id="sesame">
				<label><input type="checkbox" value="sesame"> Sesame</label>
			</div>
			<div class="checkbox-alergies" id="soy">
				<label><input type="checkbox" value="soy"> Soy</label>
			</div>			
			<div class="checkbox-alergies" id="sulfite">
				<label><input type="checkbox" value="sulfite"> Sulfite</label>
			</div>			
			<div class="checkbox-alergies" id="tree-nut">
				<label><input type="checkbox" value="tree-nut"> Tree Nut</label>
			</div>			
			<div class="checkbox-alergies" id="wheat">
				<label><input type="checkbox" value="wheat"> Wheat</label>				
			</div>
		</div>
	</div>
	<div class="row filters-box">
		<div class="col-md-3">
			<div class="checkbox-pictures" id="pictures">
				<label><input type="checkbox" value="pictures">Slider with time</label>
			</div>	
		</div>
		<!-- <div class="col-md-3">
			<div class="input-group" id="included-ingredients">
				<h6>With ingredients</h6>
				<input type="text" class="form-control" placeholder="Ingredients to include" aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="col-md-3">
			<div class="input-group" id="excluded-ingredients">
				<h6>Without ingredients</h6>
				<input type="text" class="form-control" placeholder="Ingredients to exclude" aria-describedby="basic-addon1">
			</div>
		</div> -->
		<div class="col-md-3">
			<div class="checkbox-diets" id="lacto-vegetarian">
				<h6>Acceptable for diets:</h6>
				<label><input type="checkbox" value="lacto-vegetarian"> Lacto vegetarian</label>
			</div>
			<div class="checkbox-alergies" id="ovo-vegetarian">
				<label><input type="checkbox" value="ovo-vegetarian"> Ovo vegetarian</label>
			</div>
			<div class="checkbox-alergies" id="pescetarian">
				<label><input type="checkbox" value="pescetarian"> Pescetarian</label>
			</div>
			<div class="checkbox-alergies" id="vegan">
				<label><input type="checkbox" value="vegan"> Vegan</label>
			</div>
			<div class="checkbox-alergies" id="vegetarian">
				<label><input type="checkbox" value="vegetarian"> Vegetarian</label>
			</div>
		</div>
	</div>
	<div class="row filters-box">
		<div class="col-md-3 cuisines">
			<h6>Cuisines:</h6>
			<div class="checkbox-cuisines" id="american">
				<label><input type="checkbox" value="american"> American</label>
			</div>
			<div class="checkbox-alergies" id="italian">
				<label><input type="checkbox" value="italian"> Italian</label>
			</div>
			<div class="checkbox-alergies" id="asian">
				<label><input type="checkbox" value="asian"> Asian</label>
			</div>
			<div class="checkbox-alergies" id="mexican">
				<label><input type="checkbox" value="mexican"> Mexican</label>
			</div>
			<div class="checkbox-alergies" id="southern-soul">
				<label><input type="checkbox" value="southern-soul"> Southern &amp; Soul Food</label>
			</div>
			<div class="checkbox-alergies" id="french">
				<label><input type="checkbox" value="french"> French</label>
			</div>
			<div class="checkbox-alergies" id="southwestern">
				<label><input type="checkbox" value="southwestern"> Southwestern</label>
			</div>			
			<div class="checkbox-alergies" id="barbecue">
				<label><input type="checkbox" value="barbecue"> Barbecue</label>
			</div>			
			<div class="checkbox-alergies" id="indian">
				<label><input type="checkbox" value="indian"> Indian</label>
			</div>			
			<div class="checkbox-alergies" id="chinese">
				<label><input type="checkbox" value="chinese"> Chinese</label>				
			</div>
			<div class="checkbox-alergies" id="cajun-creole">
				<label><input type="checkbox" value="cajun-creole"> Cajun &amp; Creole</label>				
			</div>
			<div class="checkbox-alergies" id="english">
				<label><input type="checkbox" value="english"> English</label>				
			</div>
			<div class="checkbox-alergies" id="mediterranean">
				<label><input type="checkbox" value="mediterranean"> Mediterranean</label>				
			</div>
			<div class="checkbox-alergies" id="greek">
				<label><input type="checkbox" value="greek"> Greek</label>				
			</div>
			<div class="checkbox-alergies" id="spanish">
				<label><input type="checkbox" value="spanish"> Spanish</label>				
			</div>
			<div class="checkbox-alergies" id="german">
				<label><input type="checkbox" value="german"> German</label>				
			</div>				
			<div class="checkbox-alergies" id="thai">
				<label><input type="checkbox" value="thai"> Thai</label>				
			</div>				
			<div class="checkbox-alergies" id="moroccan">
				<label><input type="checkbox" value="moroccan"> Moroccan</label>	
			</div>
	<div class="checkbox-alergies" id="irish">
				<label><input type="checkbox" value="irish"> Irish</label>	
			</div>
<div class="checkbox-alergies" id="japanese">
				<label><input type="checkbox" value="japanese"> Japanese</label>	
			</div>
<div class="checkbox-alergies" id="cuban">
				<label><input type="checkbox" value="cuban"> Cuban</label>	
			</div>
<div class="checkbox-alergies" id="hawaiin">
				<label><input type="checkbox" value="hawaiin"> Hawaiin</label>	
			</div>
<div class="checkbox-alergies" id="swedish">
				<label><input type="checkbox" value="swedish"> Swedish</label>	
			</div>
<div class="checkbox-alergies" id="hungarian">
				<label><input type="checkbox" value="hungarian"> Hungarian</label>	
			</div>
<div class="checkbox-alergies" id="portugese">
				<label><input type="checkbox" value="portugese"> Portugese</label>	
			</div>
		</div>
	</div>



</div>